.imageupload{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 50%;
    margin: 20px auto;
    /* position: fixed; */
    bottom: 0;
    background: white; 
    border-top: 2px solid grey;
}
.imageupload__progress{
    width: 100%;
}